<div class="modal-section">
  <div class="modal-mob">
    <h3 class="modal-titel">{{titelContent}}</h3>
    <p class="modal-tex">{{titelItemContent}}</p>
  </div>
  <div class="img-modal">
  <img class="modal-img" src="{{logoSrc}}" width="327px" height="421px" alt="">
  <img class="mini-logo" src="{{miniLogoSrs}}" alt="" />
  </div>
  <div class="form-container">
    <div class="modal-pc">
      <h3 class="modal-titel">{{titelContent}}</h3>
      <p class="modal-tex">{{titelItemContent}}</p>
    </div>
      <p class="title-item__tex">{{titelItemTexContent}}</p>
    <p class="modal-text modal-description">{{modalDescriptionContent}}</p>
    <p class="modal-text modal-value">{{modalValueContent}}</p>
    <p class="title-item__gramage">{{titleItemGramageContent}}</p>
    <button class="modal-btn-description" type="button">Заказать</button>
  </div>
</div>